/* custom styles */
body {
    background: url("../images/bg.jpg");
    color:white;
    overflow-x: hidden;
}
@media only screen and (min-width: 1025px) {
    body {
        background-size: cover;
    }
  }
/* #main {
    text-align: center;
    font-size: 35px;
    color: black
}
#head {
    z-index: 5;
} */
button {
    background-color: green;
    margin-right: 10px
}
.dataPic {
    /* height: 250px;
    width: auto;  */
    width: 200px;
}

.padd-top{
    padding-top: 20px;
}

.padd-bottom{
    padding-bottom: 20px;
}

.span6{
    padding: 30px!important;
}
#title {
    font-family: 'Parisienne', cursive;
    font-size: 50px;
    /* word-spacing: 15px */
}

.results {
    
    font-weight: bold;
    color:#28a745
    ;
    
}
.prompts {
    font-weight: bold;
    color:#28a745
    ;
}


.dotted-line{
    border-style: dashed;
    border-width: 5px;
    padding: 20px;
    margin-top: 10px;
}

.btn-secondary{
    margin-bottom: 10px;
}