/* custom styles */
body {
    background: url("../images/bg.jpg");
    color:white;
    overflow-x: hidden;
}
@media only screen and (min-width: 1025px) {
    body {
        background-size: cover;
    }
  }
/* #main {
    text-align: center;
    font-size: 35px;
    color: black
}
#head {
    z-index: 5;
} */
button {
    background-color: green;
    margin-right: 10px
}
.dataPic {
    height: 250px;
    width: auto; 
}

.padd-top{
    padding-top: 20px;
}

.padd-bottom{
    padding-bottom: 20px;
}

.span6{
    padding: 30px!important;
}
#title {
    font-family: 'Parisienne', cursive;
    font-size: 60px;
    word-spacing: 15px
}


new String(eventDescription).length