/* custom styles */
body {
    /* background: url("../images/street.jpg") no-repeat center ; */
    background-size: cover;
    color:black;

}
#main {
    text-align: center;
    font-size: 35px;
    color: black
}
#head {
    z-index: 5;
}
button {
    background-color: green;
    margin-right: 10px
}
.dataPic {
    height: 250px;
    width: auto; 
}


